@import url("https://fonts.googleapis.com/icon?family=Material+Icons&effect=anaglyph");
.post__feed {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.create__link {
  text-decoration: none;
  color: black;
}

.noPosts {
  text-align: center;
}
.miniMode {
  padding: 1rem;
  margin: 0 25%;
  border: 1px dashed slategrey;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.newPost {
  margin: 0 25%;
}

.new-post-container {
  margin-top: 5em;
}

.newPost__input {
  width: 30rem;
  margin: 0.5rem 0;
}

.newPost__description {
  width: 100%;
  height: 5em;
}

.newPost__drop {
  padding: 1rem;
  color: gray;
  font-size: 1rem;
  border: 1px dotted lightgrey;
  text-align: center;
}

.newPost__upload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem 0 0 0;
}

.newPost__fileUpload {
  flex-basis: 30%;
}

.newPost__uploadPrompt {
  flex-basis: 50%;
}

.newPost__plus {
  font-size: 6rem;
}

.post-feed-container {
  margin-top: 5em;
}

.post__container {
  margin: 5% 35%;
  flex-basis: 50%;
  border: 1px black solid;
  max-width: 30%;
}

.post__image {
  width: 100%;
  max-height: 600px;
}

.post__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post__tagline {
  font-size: 0.9em;
  margin: 0 5% 0.5em 5%;
}

.post__remark {
  font-size: 2em;
  margin: 1em 0 0.5em 0;
}

.post__icon {
  height: 1.5em;
  margin: 0em 2em 0em 2em;
}
.post__cl__container {
  display: flex;
  justify-content: space-between;
}
.user__Profile {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}
.profile__buttons {
  margin: 2rem, 0, 0, 13rem;
  display: flex;
  justify-content: center;
}
.probe__button,
.follow__button,
.following__button {
  width: 100px;
  height: 33px;
  transform: translateY(30%);
}
.post__follow__button,
.post__following__button {
  padding: 1px;
  margin: 3px 3px 0 0;
}
.profile__stats {
  padding: 1rem;
}
.comment__profilePic {
  height: 30px;
  width: 36px;
  border-radius: 50%;
}
.comment__textarea {
  width: calc(100% - 23px);
}
.post__profilePic {
  height: 30px;
  width: 36px;
  border-radius: 50%;
}
.post__heading {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.post__heading,
h5 {
  margin-bottom: 3px;
}
.user__profilePic {
  height: 100px;
  width: 160px;
  border-radius: 50%;
  margin: 10px;
}
.create {
  text-align: center;
}
.legit__slider {
  width: 175px;
}
.legit-o-meter {
  display: flex;
}
.legit-o-meter,
h6 {
  margin: 3px 0 3px 0;
}
.legit-1 {
  background-color: red;
}
.legit-2 {
  background-color: red;
}
.legit-3 {
  background-color: red;
}
.legit-4 {
  background-color: red;
}
.legit-5 {
  background-color: darkorange;
  color: darkorange;
}
.legit-6 {
  background-color: darkorange;
  color: darkorange;
}
.legit-7 {
  background-color: goldenrod;
  color: goldenrod;
}
.legit-8 {
  background-color: goldenrod;
  color: goldenrod;
}
.legit-9 {
  background-color: green;
  color: green;
}
.legit-10 {
  background-color: green;
  color: green;
}
.legit-empty {
  color: white;
}
