@import url("https://fonts.googleapis.com/icon?family=Material+Icons&effect=anaglyph");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  font-family: "Fjalla One", sans-serif;
  font-size: 23px;
  margin-right: 6px;
  border-bottom: black 1px solid;
}
.create {
  font-family: "Fjalla One", sans-serif;
  font-size: 23px;
  color: black;
}
.logout {
  font-family: "Fjalla One", sans-serif;
  font-size: 23px;
  padding-right: 2em;
}
.navbar__link {
  text-decoration: none;
  color: black;
}
.discard {
  font-family: "Fjalla One", sans-serif;
  color: black;
  font-size: 30px;
  text-decoration: none;
}
.dropdown__button {
  align-self: center;
  margin: 3px;
}
.dropdown__menu {
  align-self: flex-end;
  flex-grow: 4;
}
.current__user {
  align-self: center;
}
.user__dropdown__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.user__button {
  display: flex;
  justify-content: right;
}
