@import url("https://fonts.googleapis.com/icon?family=Material+Icons&effect=anaglyph");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
}
.create {
  font-family: "Fjalla One", sans-serif;
  font-size: 23px;

  color: black;
}
.logout {
  font-family: "Fjalla One", sans-serif;
  font-size: 23px;
  padding-right: 5em;
}
.navbar__link {
  text-decoration: none;
  color: black;
}
.discard {
  font-family: "Fjalla One", sans-serif;
  color: black;
  font-size: 30px;
  text-decoration: none;
}
